
/* Box rules */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* COLOR */
#quote-box {
	background-color: white;
}
#tweet-quote,
#new-quote,
.footer {
	color: white;
}


/* TYPOGRAPHY */
#quote-box {
	font-family: raleway, sans-serif;
}
#text {
	font-size: 1.7em;
}
#author {
	font-size: 1em;
}
#tweet-quote {
	font-size: 0.85em;
}
#new-quote {
	font-size: 0.85em;
}
.footer {
    font-family: sans-serif;
    font-size: 0.7em;
    text-align: center;
 }

/* LAYOUT */
#quote-box {
	width: 550px;
	margin: auto;
	padding: 40px 50px;
	border-radius: 3px;
	text-align: center;

	/* flexbox */
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.quote-author-box {
	display: flex;
	flex-flow: column;
	gap: 20px;
}
.icon-quote {
	font-size: 2.1em;
	vertical-align: bottom;
	margin-right: 12px;
}
#text {
	display: inline;
}
#author {
	text-align: right;
}
#tweet-quote {
	padding: 10px 12px;
	border-radius: 3px;
}
#new-quote {
	text-align: center;
	padding: 10px 15px;
	border: none;
	border-radius: 3px;
}
.buttons {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.footer {
    margin: 10px 0 40px;
    padding: 5px 0;
    font-family: sans-serif;
    font-size: 0.7em;
    text-align: center;
 }

/* TRANSITIONS */
body,
#tweet-quote,
#new-quote {
	transition: background-color 0.7s ease-in;
}
.quote-author-box {
	transition: opacity 0.7s ease-in;
}
#tweet-quote:hover {
	opacity: 80%;
	cursor: pointer;
}
#new-quote:hover {
	opacity: 80%;
	cursor: pointer;
}